/* ==========================================================================
   #LIST
   ========================================================================== */

.bare,
.inline {
  margin-left: 0;
}





/**
 * Strip list-like appearance from lists by removing their bullets, and any
 * indentation.
 */

.bare {
  list-style-type: none;
}





/**
 * Display list horizontally.
 */

.inline {
  > li {
    display: inline-block;

    + * {
      margin-left: 1em;
    }
  }
}
