/* ==========================================================================
   #APP
   ========================================================================== */

@import "common/styles/_global-import.scss";

.wrapper {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  width: rem(120px);
  height: rem(120px);
  line-height: rem(120px);
  overflow: hidden;
}

.small {
  width: rem(90px);
  height: rem(90px);
}
