/* ==========================================================================
   #COLOR
   ========================================================================== */

/// @group color
$white: #fff;

/// @group color
$black: #000;

/// @group color
$red: #e10000;

/// @group color
$caribbean-green: #00c888;

/// @group color
$coral: #ff847c;

/// @group color
$silver-satin: #c9d1d3;

/// @group color
$alabaster: #fafafa;

/// @group color
$twitter: #1da1f2;

/// @group color
$facebook: #3b5998;

/// @group color
$palette-body: #000;

/// @group color
$palette-body-lighten: rgba(0, 0, 0, .6);

/// @group color
$palette-primary: $caribbean-green;

/// @group color
$palette-secondary: $coral;

/// @group color
$palette-error: $red;

/// @group color
$palette-border: rgba(0,0,0,.1);

/// @group color
$palette-success: $caribbean-green;

/// @group color
$palette-twitter: $twitter;

/// @group color
$palette-facebook: $facebook;
